#root .ant-layout {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
}
main,
#root main label,
#root main form {
  color: white;
}
.ant-layout-content,
.ant-spin-container {
  height: 100%;
}
main {
  padding: 8vh 6vw 8vh 3vw;
}

/* loading */
.ant-spin-nested-loading,
#root .ant-spin {
  min-height: 100%;
}

/*  */
.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
